			<div class="row" id="userContent"><!-- userContent for background image -->
					<div class="col-sm-9">
						<div id="textContent">
							Simple to use, Easy to Implement
						</div>
						<p>Enterprise resource planning (ERP) is business process management software that allows an organization to use a system of integrated applications to manage the business and automate many back office functions related to technology, services and human resources.</p>
					</div>
					<div class="col-sm-3" id="enquiryBox">
						<div class="row">
							<div id="userFirsText">Start Free</div>
						</div>
						<div class="row">
							<div id="userSecondText">Fill the details</div>
						</div>
						<form name="startFreeForm" id="LoginBox">
							<div class="row">
								<input type="text" class="form-control ipbox" placeholder="Name" name="name" ng-model="enqBox.name" autocomplete="off" autocorrect="off"/>
							</div>
							<div class="row"><br>
								<input type="text" class="form-control ipbox" placeholder="Email" name="email" ng-model="enqBox.email" autocomplete="off" ng-required/>
							</div>
							<div class="row"><br>
								<input type="text" class="form-control ipbox" placeholder="Mobile" name="mobile" ng-model="enqBox.mobile" autocomplete="off" ng-required/>
							</div>
							<div class="row"><br>
								<button type="submit" class="btn btn-trq bsubmit" ng-click="">Submit</button>
							</div>
						</form>
					</div>
				</div>