
#userContent {
	
	background-color: #EEEEEE;
	border-radius:5px;
	margin-left:6px;
	
/* well gray - #f5f5f5 
	buttons colors --   #6b7792 
	
	Dark Blue -  #012B72
	Turquiose  - #00B9F5
	dark gray  -  #7d8183
	bluish gray -  #8a9eaa 
	light light gray -  #eaeaea 
*/
}
/*	background-image:url("../images/imguserda.jpg"); 

	background-image:url("../images/contactus2.jpg"); */
.white {
	color:white;
	
}


.fresh{
	background-color:skyblue;
}
/*
		USER PAGE AUTHENTICATION BUTTONS
*/
.btnUser{
	height:25px;
	width:50px;
	text-align:center;
	
}

.smBoxim[disabled],
.smBoxim[readonly],
fieldset[disabled] .smBoxim {
  background-color: white;
  opacity: 1;
}
.venDesign {
	overflow:none;
	
}

.venDesign. input[type="text"]{
	width:5%;
}


fieldset {
    display:block;
    margin-right: 0px;
    padding: 0px;
    border:1px solid #999;
	border-radius:5px;
	overflow:none;
}

legend {
	display:run-in;
	border:0px;
	width:inherit;
	padding:0px;
	font-style:none;
	font-variant:none;
	border-bottom:0px;
	font-size:15px;
	margin-top:7px;
	clear:both;
}

	/* formPO for Purchase Order forms */
	
	.formPO { 
		width:60%;
	}
	
/*
		SEARCH BAR IN MATERIAL MANAGEMENT FORMS

*/
.mmSearch{
	margin-top:0px;
	margin-bottom:0px;
	float:right;
	width:210px;
	border-radius:15px;
	z-index:1;
}

.navbar-form{
	margin-top:2px;
	margin-bottom:2px;
	
}
.innerFormSearch{
	border-radius:15px;
	z-index:1;
}

.row{
	padding:0px;
	
}

/*
	FORM INPUT BOXES
*/

.smBox {
		border-radius:0px;
		border-bottom:1px solid gray;
		border-left:1px solid gray ;
		border-right:1px solid gray;
		border-top:1px solid gray;
		min-width:10px;
		width:100px;
		display:inline;
		
}

.smBoxim {
		border-radius:5px;
		border:0px;
		border-color:none;
		border-left:0px;
		border-top:0px;
		border-bottom-width:0px;
		background-color:none;
		min-width:10px;
		width:100px;
		display:inline;
		
}
.sdBox {
		border-radius:0px;
		border-bottom:1px solid gray;
		border-left:1px solid gray ;
		border-right:1px solid gray;
		border-top:1px solid gray;
		min-width:10px;
		width:130px;
		display:inline;
		
}


.mdBox {
		border-radius:0px;
		border-bottom:1px solid gray;
		border-left:1px solid gray ;
		border-right:1px solid gray;
		border-top:1px solid gray;
		min-width:10px;
		width:auto;
		display:inline;
		
}

.lgBox {
		border-radius:0px;
		border-bottom:1px solid gray;
		border-left:1px solid gray ;
		border-right:1px solid gray;
		border-top:1px solid gray;
		min-width:10px;
		width:220px;
		display:inline;
		
}

.lglgBox {
		border-radius:0px;
		border-bottom:1px solid gray;
		border-left:1px solid gray ;
		border-right:1px solid gray;
		border-top:1px solid gray;
		min-width:10px;
		width:96%;
		display:inline;
		
}


.dashBox {
		border-radius:0px;
		margin-left:1px;
		margin-right:1px;
		border-bottom:1px solid black;
		border-top:0px;
		border-right:0px;
		border-left:0px;
		min-width:10px;
		max-width:60px;
		width:200px;
		display:inline;
		background-color:inherit;
	
}

.dashBoxMed {
		border-radius:0px;
		margin-left:1px;
		margin-right:1px;
		border-bottom:1px solid black;
		border-top:0px;
		border-right:0px;
		border-left:0px;
		min-width:10px;
		background-color:inherit;
		width:200px;
		display:inline;
	
}

.dashBoxLong {
		border-radius:0px;
		margin-left:1px;
		margin-right:1px;
		border-bottom:1px solid black;
		border-top:0px;
		border-right:0px;
		border-left:0px;
		min-width:10px;
		max-width:200px;
		background-color:inherit;
		display:inline;
	
}

.dashBoxExtraLong {
		border-radius:0px;
		margin-left:1px;
		margin-right:1px;
		border-bottom:1px solid black;
		border-top:0px;
		border-right:0px;
		border-left:0px;
		min-width:10px;
		max-width:600px;
		width:600px;
		display:inline;
		background-color:inherit;
}

.col-sm-9 > .col-xs-2 {
	cellpadding:0px;
	cellspacing:0px;
}


.white:hover {
	color:black;
}
.container {
		margin-top:12px;
	}
	
.pager {
		margin-top:2px;
		position:right;
	}

/*
		CUSTOM WELL - .smWell FORMS ONLY

	
*/

.smWell {
  min-height: 20px;
  padding: 12px 2px 6px 15px;
  margin-top:4px;
  margin-bottom: 3px;
  background-color: #EEEEEE;
  margin-left:5px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
		  
	font-family:Times New Roman;	  
}
.smWell blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}
.smWell-lg {
  padding: 24px;
  border-radius: 6px;
}
.smWell-sm {
  padding: 6px;
  border-radius: 3px;
}


/*
		CUSTOM WELL - .smTopWell FORMS ONLY

	
*/

.smTopWell {
  min-height: 10px;
  padding: 5px 2px 3px 5px;
  margin-top:2px;
  margin-bottom: 2px;
  background-color: #EEEEEE;
  margin-left:5px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);				/*========================*/
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);				/*========================*/
		  
	font-family:Times New Roman;	  
}
.smTopWell blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}
.smTopWell-lg {
  padding: 24px;
  border-radius: 6px;
}
.smTopWell-sm {
  padding: 6px;
  border-radius: 3px;
}

#logb {}


	.mainrow {
		margin-left:5px;
	}
	
	.tabsign th {
		text-align:center;
	}
	/* bank and cash table */
	
	.tabsign {
		cellspacing:15px;
		cellpadding:15px;
	}
	
	/* bank and cash table */
	.signchange {	
		margin-left:15px;
		margin-right:15px;
		border-bottom:1px solid black;
		border-top:0px;
		border-right:0px;
		border-left:0px;
		background-color:inherit;
	}
	
	.VendorWell {
		min-height: 20px;
		padding: 19px;
		margin-bottom:20px;
		margin-right:-20px;
		background-color: #f5f5f5;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
		padding: 9px;
		border-radius: 3px;
	
	}
	

.navbar-header {
	
}

#textContent {
	font-size:25px;
	margin-left:5px;
	margin-top:10px;
	font-family: Times New Roman;
	color:black;
	
}
/*
		EFFECTIVE IN ALL PANEL DESIGNS

*/

.panel-default > .panelDesign {
	background-color: #00B9F5;
	background-image:none;
	border-color:#00B9F5;
	border:1px;
	color:white;
}

/*
		NEW GRAY PANEL DESIGNS

*/
.panel-gry {
  border-color: #E3E3E3;
}
.panel-gry > .panel-heading {
  color: white;
  background-color: #49b3f3;
  border-color: #ececec;
}
.panel-gry > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #49b3f3;
}
.panel-gry > .panel-body > ul li a{
  color:black;
  border-color:white;
}

.panel-gry > .panel-body > ul li{
  margin-left:1px;
  padding-left:2px;
}

.panel-gry > .panel-heading .badge {
  color: #7d8183;
  background-color: #49b3f3;
}
.panel-gry > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #49b3f3;
}

/*
		BUTTONS IN GRAY COLORS ALL btn-gry

.btn-default{
	background-color: #00B9F5;
	
}
*/
.btn-gry {
  color: white;
  background-color: #49b3f3;
  border-color: #49b3f3;
}
.btn-gry:focus,
.btn-gry.focus {
  color: #333;
  background-color:  #49b3f3;
  border-color: #8c8c8c;
}
.btn-gry:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-gry:active,
.btn-gry.active,
.open > .dropdown-toggle.btn-gry {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-gry:active:hover,
.btn-gry.active:hover,
.open > .dropdown-toggle.btn-gry:hover,
.btn-gry:active:focus,
.btn-gry.active:focus,
.open > .dropdown-toggle.btn-gry:focus,
.btn-gry:active.focus,
.btn-gry.active.focus,
.open > .dropdown-toggle.btn-gry.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-gry:active,
.btn-gry.active,
.open > .dropdown-toggle.btn-gry {
  background-image: none;
}




/*
		BUTTONS IN GRAY COLORS ALL btn-gry

.btn-default{
	background-color: #00B9F5;
	
}
*/
.btn-trq {
  color: white;
  background-color: #49b3f3;
  border-color: #49b3f3;
}
.btn-trq:focus,
.btn-trq.focus {
  color: #333;
  background-color:  #49b3f3;
  border-color: #8c8c8c;
}
.btn-trq:hover {
  color: #333;
  background-color: #49b3f3;
  border-color: #49b3f3;
}
.btn-trq:active,
.btn-trq.active,
.open > .dropdown-toggle.btn-trq {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-trq:active:hover,
.btn-trq.active:hover,
.open > .dropdown-toggle.btn-trq:hover,
.btn-trq:active:focus,
.btn-trq.active:focus,
.open > .dropdown-toggle.btn-trq:focus,
.btn-trq:active.focus,
.btn-trq.active.focus,
.open > .dropdown-toggle.btn-trq.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-trq:active,
.btn-trq.active,
.open > .dropdown-toggle.btn-trq {
  background-image: none;
}

/*
	OVERALL TURQUOISE COLOR

*/

.def{
	background-color: #00B9F5;
	
}
.well {
	margin-left:8px;
}

#enquiryBox {			
	color:black;
	font-family:Times New Roman;
	margin-left:-5px;
	margin-right:-25px;
	margin-top:15px;
	margin-bottom:15px;
	opacity:0.9;
	outline-offset:1px;
	border: 2px solid #49b3f3;
	border-radius:5px;
				
	}
		
#userFirsText {
	font-size:22px;
	font-family:Verdana;
	margin-left:3px;
	
	
}

#userSecondText {
	font-size:16px;
	font-family:Times New Roman;
	margin-left:3px;
	
}

.ipbox { 
	width:97%;
	margin-left:3px;
	margin-right:0px;
	border-radius:5px;
		
} 

/*
	ONLY BOTTOM BORDER, TRANSPARENT BOX


.ipbox {
	width:97%;
	margin-left:3px;
	margin-right:0px;
	box-shadow:none;
	border-radius:0px;
	border-bottom: 2px solid red;
	border-bottom-style:1px solid black;
	border-left-style:none;
	border-top-style:none;
	border-right-style:none;
	background-color:inherit;
	color:black;
		
} 
*/
.bsubmit {
	width:97%;
	margin-left:3px;
	margin-right:9px;
	margin-bottom:3px;
}

div.container-fluid ul,li {
	
	padding-left:0px;
}

well ul, li {
	padding-left:2px;
	
}

p {
	margin-top:7px;
	color:#155d95;
	font-size:16px;
	}

/*

		LOGO
*/	
.topLogo {
	margin-left:5px;
	
}
