
#userContent {
	
	background-color:none;

}
/*	background-image:url("../images/imguserda.jpg"); 

	background-image:url("../images/contactus2.jpg"); */

/*
		GLYPHICON COLOR WHITE
*/
.white {
	color:white;
	
}



.white:hover {
	color:black;
}
.container {
		margin-top:12px;
	}
	
.pager {
		margin-top:2px;
		position:right;
	}
	
.container-fluid{
		margin-top:0px;
		background-color:#3175B0;
		
	}

#navg {
	padding:0px;
	
	
	
}

.navbar-header {
	
}

#textContent {
	font-size:25px;
	margin-left:5px;
	margin-top:10px;
	font-family: Times New Roman;
	color:black;
	
}

.well {
	margin-left:8px;
}

#enquiryBox {			
	color:white;
	
	font-family:Times New Roman;
	margin-left:-5px;
	margin-right:-25px;
	margin-top:15px;
	margin-bottom:15px;
	opacity:0.9;
	outline-offset:1px;
	border: 2px solid white;
	border-radius:5px;
				
		}
		
#userFirsText {
	font-size:22px;
	font-family:Verdana;
	margin-left:3px;
	/*background-color: #00B9F5;*/
	
}

#userSecondText {
	font-size:16px;
	font-family:Times New Roman;
	margin-left:3px;
	/*background-color: #00B9F5;*/
}
/*
.ipbox { 
	width:97%;
	margin-left:3px;
	margin-right:0px;
	border-radius:5px;
		
} 


	ONLY BOTTOM BORDER, TRANSPARENT BOX

*/
.ipbox {
	width:97%;
	opaque:0.1;
	margin-left:3px;
	margin-right:0px;
	box-shadow:none;
	border-radius:0px;
	border-bottom: 2px solid turquoise;
	border-bottom-color:#00B9F5;
	border-bottom-style:1px solid black;
	border-left-style:none;
	border-top-style:none;
	border-right-style:none;
	background-color:inherit;
	color:black;
		
}

.ipbox :active,
.ipbox :focus
 {
	width:97%;
	margin-left:3px;
	margin-right:0px;
	box-shadow:none;
	border-radius:0px;
	border-bottom: 2px solid red;
	border-bottom-style:1px solid black;
	border-left-style:none;
	border-top-style:none;
	border-right-style:none;
	background-color:red;
	color:black;
		
}


/*
		EFFECTIVE IN ALL PANEL DESIGNS

*/

.panel-default > .panelDesign {
	background-color: #00B9F5;
	background-image:none;
	border-color:#00B9F5;
	border:1px;
	color:white;
}

/*
		NEW TURQUOISE PANEL DESIGNS

*/
.panel-trq {
  border-color: #00B9F5;
}
.panel-trq > .panel-heading {
  color: white;
  background-color: #00B9F5;
  border-color: #00B9F5;
}
.panel-trq > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #00B9F5;
}
.panel-trq > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #00B9F5;
}
.panel-trq > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #00B9F5;
}


/*
		BUTTONS IN TURQUOISE COLORS ALL btn-trq

.btn-default{
	background-color: #00B9F5;
	
}
*/
.btn-trq {
  color: white;
  background-color:#00B9F5;
  border-color: #ccc;
}
.btn-trq:focus,
.btn-trq.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-trq:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-trq:active,
.btn-trq.active,
.open > .dropdown-toggle.btn-trq {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-trq:active:hover,
.btn-trq.active:hover,
.open > .dropdown-toggle.btn-trq:hover,
.btn-trq:active:focus,
.btn-trq.active:focus,
.open > .dropdown-toggle.btn-trq:focus,
.btn-trq:active.focus,
.btn-trq.active.focus,
.open > .dropdown-toggle.btn-trq.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-trq:active,
.btn-trq.active,
.open > .dropdown-toggle.btn-trq {
  background-image: none;
}

/*
	OVERALL TURQUOISE COLOR

*/

.def{
	background-color: #00B9F5;
	
}
.well {
	margin-left:8px;
}




.bsubmit {
	width:97%;
	margin-left:3px;
	margin-right:9px;
	margin-bottom:3px;
}

div.container-fluid ul,li {
	
	padding-left:0px;
}

well ul, li {
	padding-left:2px;
	
}

p {
	color: #042b31 ;
	font-size:16px;
	}

/*

		SEARCH BAR
*/	
	
	
/*

		PANEL CUSTOM
*/		
.panel-default > .panelDesign {
	background-color: #00B9F5;
	background-image:none;
	border-color:#00B9F5;
	color:white;
	
}

.panel-default > .panelBodyDesign{
	background-color:none;
	border-color: #00B9F5;
	
}
		
/*

		NAVIGATION BAR DROPDOWNS

.dropbtn {
   background-color:blue;
    color: white;
    padding:6px;
    font-size: 10px;
    border-radius:5px;
   
}
*/
.dropdown {
    position: relative;
    display: inline-block;
	padding-left:0px;
	padding-right:2px;
	
}

.dropdown-content {
    
   
    background-color: #f9f9f9;
    min-width: 120px;
   list-style-type:none;
   list-style:none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
	list-style-type:none;
	font-size: 13px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
	 list-style:none;
	}

.dropdown:hover .dropdown-content {
    display: block;
	 list-style:none;
}

/*
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

*/

.navalign {
	text-align:center;
}